.react-aria-Button {
    height: 20px;
}

.input-form {
    height: 500px;
    width: 300px;
}

.add-review-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.save-button-container {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.container {
    position: fixed;
    top: 50%;
    /* Positions the container in the vertical center */
    left: 50%;
    /* Positions the container in the horizontal center */
    transform: translate(-50%, -50%);
    /* Centers the container by shifting it both left and up by 50% of its width and height */
    width: 50%;
    /* Optional: Set the width of the container */
    padding: 20px;
    /* Optional: Add some padding */
    background-color: #fff;
    /* Optional: Background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add shadow */
    text-align: center;
    /* Optional: Center text inside the container */
}