.add-selected-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.react-aria-Button {
    height: 20px;
}

.input-form {
    height: 500px;
    width: 300px;

}

.add-review-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.save-button-container {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.container {
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
}